<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />

    <script type="text/javascripts" src="javascript/jquery-2.1.4.js"></script>
    <script type="text/javascripts" src="javascript/bootstrap.js"></script>

  </head>
  <body>
  	
  	{{> header}}

  		<div class = "container">
  			{{{body}}}
  		</div>
    
  </body>
</html>
